@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");
@font-face {
  font-family: metal;
  src: url(../css/fonts/metalmania-regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  font-family: "Metal Mania", cursive;
  height: 100px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav a {
  text-decoration: none;
  color: white;
  transition-duration: 0.5s;
}
nav a:hover {
  color: #ab00ab;
  transition-duration: 0.5s;
}
nav .homelogo {
  background-image: url(../img/Logo.png);
  width: 125px;
  height: 100px;
  background-repeat: no-repeat;
}
nav .homelogo:hover {
  background-image: url(../img/LogoHover.png);
  animation-duration: 0.5s;
}

.hero {
  width: 100%;
  height: 600px;
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 10px;
  color: #ab00ab;
  font-family: "Metal Mania", cursive;
  text-align: center;
  font-size: 70px;
}
.hero h2 {
  position: relative;
  top: 35%;
}

.header {
  font-family: "Metal Mania", cursive;
  font-size: large;
  padding-top: 50px;
  width: 100%;
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ab00ab;
}

body {
  background-color: black;
  height: 950px;
}

.body {
  font-family: "Metal Mania", cursive;
  background-color: black;
  width: 100%;
  height: 100%;
}
.body #box1 {
  display: -webkit-box;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  padding-bottom: 0px;
}
.body #box1 p {
  padding-left: 50px;
  padding-right: 50px;
  flex-basis: 60%;
  text-align: left;
  color: #ab00ab;
}
.body #box1 #Band1 {
  max-width: 450px;
  height: 300px;
  background-image: url("../img/Band1.png");
  background-repeat: no-repeat;
  padding-left: 30px;
  padding-right: 35%;
}
.body #filler1 p {
  font-weight: bold;
  font-size: xx-large;
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
  color: #ab00ab;
}
.body #box2 {
  display: -webkit-box;
  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
}
.body #box2 #band2 {
  padding-left: 10%;
  flex-basis: 70%;
  width: 434px;
  height: 300px;
}
.body #box2 p {
  padding-left: 50px;
  padding-right: 10px;
  text-align: right;
  flex-basis: 50%;
  color: #ab00ab;
}

.footer {
  font-family: "Metal Mania";
  height: 100px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer a {
  text-decoration: none;
  color: white;
  transition-duration: 0.5s;
}
.footer a:hover {
  color: #ab00ab;
  transition-duration: 0.5s;
}
.footer .homelogo {
  background-image: url(../img/Logo.png);
  width: 125px;
  height: 100px;
  background-repeat: no-repeat;
}
.footer .homelogo:hover {
  background-image: url(../img/LogoHover.png);
  animation-duration: 0.5s;
}

.lineup {
  width: 100%;
  height: 2500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/hero.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.lineup img {
  max-width: 700px;
  max-height: 200px;
}
.lineup #lineupbody #lineup {
  font-family: "Metal Mania", cursive;
  color: #e138e1;
  font-weight: 900;
  font-size: 100px;
  text-align: center;
}

.products {
  color: #ab00ab;
  font-family: "Metal Mania";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/hero.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.products h1 {
  font-size: 72px;
  text-align: center;
  padding-top: 200px;
}
.products h2 {
  text-align: center;
  font-size: 32px;
}
.products p {
  max-width: 90%;
  display: flex;
  text-align: center;
  margin: 0 auto;
}
.products .productimg {
  display: flex;
  background-image: url(../img/ShirtPlaceholder.jpeg);
  width: 70%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 44px auto;
}
.products .product-2 {
  display: flex;
  background-image: url(../img/ShirtIMG2.jpeg);
  width: 24%;
  height: 360px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 70px;
}
.products .product-2 p {
  text-align: right;
  position: relative;
  right: -92%;
  padding-left: -10px;
}
.products .product-2-text {
  max-width: 60%;
  position: relative;
  right: -35%;
  top: -300px;
}
.products .product-side-by-side {
  margin-top: -20%;
}
.products .product-side-by-side .product-left {
  display: flex;
  background-image: url(../img/ConcertGraf.jpeg);
  height: 420px;
  width: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 20px;
}
.products .product-side-by-side .product-right {
  margin: 0 auto;
  padding-bottom: 20px;
  max-width: 90%;
}
.products .product-side-by-side .product-right p {
  text-align: center;
}

@media (max-width: 1250px) {
  .products .product-2 {
    height: 300px;
    width: 20%;
  }
}
@media (max-width: 1100px) {
  .products .product-side-by-side .product-left {
    height: 364px;
  }
  .products .product-side-by-side p {
    margin-bottom: 40px;
  }
  .products .product-side-by-side .product-2 {
    width: 18%;
    height: 200px;
  }
  .products .product-side-by-side .product-2-text {
    max-width: 64%;
    position: relative;
    right: -34%;
    top: -218px;
  }
}
@media (max-width: 900px) {
  .products .product-side-by-side .product-left {
    height: 300px;
  }
}
.contact {
  color: #ab00ab;
  font-family: "Metal Mania";
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.contact .contact-us {
  width: 50%;
  height: 400px;
  background-image: url(../img/Contact-Us.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.contact h1 {
  font-size: 72px;
  text-align: center;
  padding-top: 200px;
}
.contact h2 {
  text-align: left;
  padding-left: 30px;
  font-size: 32px;
}
.contact p {
  display: flex;
  text-align: center;
}
.contact img {
  display: flex;
  height: 500px;
  margin: 0 auto;
}

/*# sourceMappingURL=styles.css.map */
