.blog {
    margin: 0 auto;
    max-width: 980px;
margin-top:170.5px;
    min-height: 330px;
font-family: 'Gill Sans';
.blog-title {
    font-family: 'Proxima Nova Thin';
    .border-bottom {
        width:106px;
        border: solid 1px $site-black;
        margin-bottom: 31.5px;
    }
}
    .blog-post {

        display: flex;
        width: 100%;

        min-height: 50px;

        margin-bottom: 100px;
        ;

        .blog-left {
            width: 60px;
            margin-right: 20px;

            .date-box {
                width: 60px;
                height: 60px;
                background-color: $site-blue;
                color:$site-white;
                h2, p {
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    
                    justify-content: center;
                }
                h2 {
                    padding-top: 10px;
                }
                p {
                    font-size: 12px;
                }
                
                
            }
        }

        .blog-right {
            width: 900px;
h1 {
    font-size:15px;
max-width:380px;
}
p {
    font-size: 12px;
    color: $site-blue;
    max-width: 380px;
}
            .hero {
                width: 100%;
                height: 259px;
                margin-bottom: 20px;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

@media (max-width:1000px) {
    .blog {
        max-width: 830px;

        .blog-post {
            .blog-right {
                width: 750px;

            }
        }
    }
}