.announcement {
    font-family: 'Rubik', sans-serif;
    height:44px;
    width:100%;
    background-color: #747F5A;
    display:flex;

    

    .words {
        margin:auto;
        .red-box {
            background-color: #A23D3B;
            padding:6px 19px;
            text-decoration: none;
            color:#A9B69C;
        }
        .red-box:hover {
            color:white;
        }
    }
    .login {
        a {text-decoration: none;
        color:black;}
        align-self: center;
        margin-right:20px;
        .fa-user {
            margin-left:10px;
        }
    }
}
