
//site structure vars
$site-width:1280px;
$hero-height:500px;
$site-nav-width: 980px;
$site-nav-height:90px;

//site colors
$site-white:#FFFFFF;
$site-blue:#79ADDC;
$site-black:#000000;


//tour banners
$tour-banner-height:304px;
$tour-banner-width:236px;

//site fonts



//site images
$logo-white: url(../img/logo-white.png);
$logo-black: url(../img/logo-black.png);


//Site Heights
$home-page-height: 1728px;